
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
<%= form_with model: order do |form| %>
		<% if order.user.nil? or order.user == current_user %>

			<%= form.label :description, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900" %> 
			<%=  form.text_field :description, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"%> 

			<%= form.hidden_field :user, value: current_user.id%> 

			<% if params[:printer].nil? %>
			<%= form.label :printer, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900" %>
			<%=  form.select :printer, Printer.all.collect{|e| [e.description, e.id]}, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"%> 	
			<% else %>
			<% printers_select = Printer.all.collect{|e| [e.description, e.id]} 
				selected = params[:printer]
			    printers_select.unshift printers_select.find{|e| e[1].to_i == selected.to_i }
			 %>
			<%= form.label :printer, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900" %>
			<%=  form.select :printer, printers_select, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"%> 			
			<% end %>
	
			<% if order.printer.presence and order.printer.user == current_user %>
			<% status_select = Order.statuses.collect{|e| e[0] = e[0].to_sym } %>
			<%= form.label :status, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900" %>
			<%= form.select :status, status_select, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"%> 
			<% else %>
			<% status_select = Order.statuses.first(2).collect{|e| e[0] = e[0].to_sym } %>
			<%= form.label :status, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900" %>
			<%= form.select :status, status_select, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"%> 
			<% end %>		
			
		<% elsif order.printer.user == current_user %>
			<% status_select = Order.statuses.to_a.last(3).collect{|e| e[0] = e[0].to_sym } %>
			<%= form.label :status, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900" %>
			<%= form.select :status, status_select, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900"%> 
		
		<% end %>

			<% order.errors.full_messages_for(:description).each do |message|%>
			<div><%= message %></div>
			<% end %>

		<%= form.submit "Сохранить", class: "flex items-center justify-center  px-4 sm:px-6 lg:px-8 group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer" %>
<% end %>
</div>