<div>
    <%= render "layouts/mini_header_menu" %>
	
	<div class="py-1 grid grid-cols-3">	
	<div class="col-start-2  col-end-2" style="text-align:center">	 
    <%= link_to "Добавить", new_printer_path, class: " bg-blue-200 px-4 py-1 text-sm font-medium text-center transition-colors duration-300 transform border rounded hover:bg-indigo-400" %>
	</div>
	</div>

<!-- 	<div data-controller="printer"> <button data-action="click->printer#sendDelete"> Go </button> 
  <span id="printer-output" data-printer-target="output">
  </span>
	</div> -->

	<div class="grid py-1 grid-cols-3">	
	<div class="col-start-2  col-end-2" style="text-align:center">	
	<%= button_to 'Удалить', @printer, method: :delete, form: { data: { turbo_confirm: 'Удалить? Уверены?' } }, class: "bg-red-200 px-4 py-1 text-sm font-medium text-center transition-colors duration-300 transform border rounded hover:bg-red-400" %>
	</div>
	</div>

	<div class="grid py-1 grid-cols-3">	
	<div class="col-start-2  col-end-2" style="text-align:center">	
	<%= link_to 'Изменить', edit_printer_path, class: "bg-green-200 px-4 py-1 text-sm font-medium text-center transition-colors duration-300 transform border rounded hover:bg-green-400" %>
	</div>
	</div>
	
	<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
	<% if @printer.description.present? %>
	<div class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900">Description </div>
	<div class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900">
	<%= @printer.description %>
	</div>
	<% end %>
	</div>

<div class="container mb-2 flex mx-auto w-full items-center justify-center">
	<ul class="flex flex-col p-4">
	<% if @printer.orders.presence %>
	<% @printer.orders.each do |order| %>

									
<li class="border-gray-400 flex flex-row mb-2">
										<div
											class="select-none rounded-md flex flex-1 items-center p-4 transition duration-500 ease-in-out transform hover:-translate-y-2 rounded-2xl border-2 p-6 mt-3 border-red-200 hover:shadow-2xl"
										>
											<div class="flex-1 pl-1 mr-16">
												<div class="font-medium">
											Description: <%= order.description %>												
											</div>
											</div>
											<div
												class="w-1/4 text-wrap text-center text-black text-bold flex flex-col rounded-md bg-blue-200 justify-center items-center mr-10 p-2"
											>
											<%= link_to "Подробнее", order_path(order) %>	
											</div>

										</div>
</li>

	<% end %>	
	<% end %>
</ul>
</div>

    <%= render "layouts/footer" %>

</div>